.wrapper {
  font-size: 1em;
}

.px {
  width: 200px;
  border: 2px solid red;
}

.vw {
  margin: 3px;
  width: 10vw;
  border: 2px solid red;
}

.em {
  width: 10em;
  border: 2px solid red;
}
.ems li {
  font-size: 1.3em;
}

.rems li {
  font-size: 1.3rem;
}
.wrappers {
  width: 400px;
  border: 5px solid rebeccapurple;
}

.pxs {
  width: 200px;
  border: 2px solid red;
}

.percents {
  width: 40%;
  border: 2px solid yellowgreen;
  margin: 3px;
}
